.slider {
  box-sizing: border-box;
  padding-top: 95px;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;

  border-bottom: 6px solid #ea676b;
  @include media-tablet{
    width: 100vw;
    overflow: hidden;
  }
}

.slider__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  height: 595px;
  @include media-tablet{
    overflow: hidden;
  }
}

.slider__arrow {
  position: absolute;
}

.slider__arrow:hover {
  cursor: pointer;
  opacity: 0.7;
}

.slider__arrow_left {
  left: 2px;
}

.slider__arrow_right {
  right: 0;

  transform: rotate(180deg);
}

.slider__sliders {
  width: 100%;
  margin: 0 71px;
}

.slider__item {
  display: flex;
  align-items: center;
}

.phone-vert {
  position: relative;

  margin-right: 18px;
}

.phone-hor {
  position: relative;

  padding-left: 56px;
}

.phone__item {
  position: absolute;
}

.phone-vert__base {
  top: 0;
  left: 0;
  z-index: 1;
}

.phone-vert__screen {
  top: 65px;
  left: 14px;
  z-index: 2;
}

.phone-hor__base {
  left: 55px;
  z-index: 1;
}

.phone-hor__screen {
  top: 14px;
  left: 115px;
  z-index: 2;
}

.phone-small {
  position: relative;

  width: 25%;

  opacity: 0.5;
}

.phone-middle {
  position: relative;

  width: 50%;
}

.phone-right {
  padding-right: 43px;
}

.phone-left__shadow {
  top: -145px;
  left: 140px;
}

.phone-left__base {
  top: -143px;
  left: 140px;
}

.phone-left__screen {
  top: -100px;
  left: 149px;
}

.phone-right__shadow {
  top: -145px;
  left: -67px;
}

.phone-right__base {
  top: -143px;
  left: -67px;
  z-index: 1;
}

.phone-right__screen {
  top: -100px;
  left: -58px;
  z-index: 2;
}

.phone-middle__shadow {
  top: -252px;
  left: 82px;
  z-index: 3;
}

.phone-middle__base {
  top: -252px;
  left: 82px;
  z-index: 4;

  opacity: 0.85;
}

.phone-middle__screen {
  top: -183px;
  left: 96px;
  z-index: 4;
}