.footer {
  background-color: $color-dark;

  @include media-tablet{
    display: flex;
  }
}

.footer__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}

.copyright {
  font-weight: 300;
  color: #666d89;
  letter-spacing: -0.004em;

  @include media-tablet{
    display: none;
  }
}

.footer__social {
  // margin-top: -5px;
}
